@model IEnumerable<CartViewModel>

@{
    ViewBag.Title = "ShopCart";
}
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i>Home</a>
                    <a href="@Url.Action("ShopCart","Cart")"><span>Shopping cart</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Shop Cart Section Begin -->
<section class="shop-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shop__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>Product </th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int countIndex = -1;}
                            @foreach (var item in Model)
                            {
                                countIndex++;
                                <tr class="cart_item_tr">
                                    <td class="cart__product__item">
                                        <img src="@(item.ProductImgLink)" style="width:50px" alt="圖片壞掉拉">
                                        <div class="cart__product__item__title">
                                            <h6>@item.Name</h6>

                                        </div>
                                    </td>
                                    <td class="cart__price">@Convert.ToInt32(item.Price)</td>
                                    <td class="cart__quantity">
                                        <div class="decrease" onclick="CalculateCount('-',@countIndex)">-</div>
                                        <span class="cart__count" id="@item.ProductId" data-target="@item.Name">@item.Quantity</span>
                                        <div class="increase" onclick="CalculateCount('+',@countIndex)">+</div>
                                    </td>
                                    @*javascript:void(0)*@
                                    <td class="cart__total"></td>
                                    <td class="cart__close">
                                        <a href="EmptyCart/@item.ProductId" class="close" aria-label="Close">
                                            <span id="@item.ProductId" aria-hidden="true" onclick="deleteCartItem(event)">&times;</span>
                                        </a>
                                    </td>
                                </tr>

                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        @* 從這裡開始是兩個button *@
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                @*<div class="cart__btn">
                        @(Html.ActionLink("Check", "Index","Home"))
                    </div>*@
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="cart__btn update__btn">
                    <!-- Button trigger modal -->
                    @*<a href="Javascript:void(0)" data-toggle="modal" data-target="#couponModalCenter"><span class="icon_gift"></span>Check Discount Code</a>*@
                    <a href="@Url.Action("Index","Home")"><span class="icon_loading"></span>Continue Shopping</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="discount__content">
                    @*<h6>Discount codes</h6>
                    <form action="#">
                        <input type="text" placeholder="Enter your coupon code" id="discountCode">
                        <input type="text" placeholder="Discount Rate:" id="discountRate" class="d-none">
                        <button class="site-btn" onclick="compareCode()">Apply</button>
                    </form>*@
                </div>
            </div>
            <div class="col-lg-4 offset-lg-2">
                <div class="cart__total__procced">
                    <h6>Cart total</h6>
                    <ul>
                        <li>Total <span class="cart__total"></span></li>
                        @*<li class="d-none" id="CartDiscountRateLi">Discount Rate<span class="discounted_price" id="CartDiscountRate"></span></li>
                        <li class="d-none" id="CartDiscountPriceLi">Discounted Price<span class="discounted_price" id="CartDiscountPrice"></span></li>*@
                    </ul>
                    @Html.ActionLink("Proceed to checkout", "CreateOrder", "Order", null, new { @class = "primary-btn", id = "checkout" })
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Cart Section End -->
@section endJS{
    <script>
        if ($('.cart_item_tr').length == 0) {
            localStorage.clear();
        }
    </script>
    }



