@*@model IEnumerable<XbooxCMS.ViewModels.TagViewModel>


<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
</head>
<h2>Tag List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
@{
    //ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TagName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TagName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.TagId })
                    @Html.ActionLink("Details", "Details", new { id=item.TagId }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.TagId })
                </td>
            </tr>
        }

    </table>*@
<div class="row" style="margin: 10px">
    <div class="col-11">
        <table id="mytable" class="table mdl-data-table mdl-data-table_full mdl-js-data-table mdl-shadow--2dp" style="width:100%">
            <thead>
                <tr>
                    <th>TagId</th>
                    <th>TagName</th>
                    <th>TagName</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#mytable').DataTable({
                "ajax": {
                    "url": "/api/Tags/GetTags",
                    "type": "GET",
                    "dataSrc": '',
                },
                "columns": [
                    { data: "TagId" },
                    { data: "TagName" },
                    {
                        data: "TagName",
                        render: function (data) { '<button id="data"></button>' }
                    }
                ],
            });
        }
        );
    </script>
}