@model IEnumerable<ProductDetailViewModel>

@{
    ViewBag.Title = "Home Page";
}

<!-- Banner Section Begin -->
@Html.Partial("_BannerPartial")
<!-- Banner Section End -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="section-title">
                    <h4>推薦商品</h4>
                </div>
            </div>
            @Html.Partial("_HomePageTagsPartial", new Xboox.Services.FindBookDetailService().FindTagSkipFirst())
        </div>
        <div class="row property__gallery">
            @foreach (var item in Model)
            {
                @Html.Partial("_HomePageProductPartial", item)
            }
        </div>
    </div>
</section>
<!-- Discount Section Begin -->
@Html.Partial("_DiscountPartial")
<!-- Discount Section End -->
<!-- Services Section Begin -->
@Html.Partial("_ServicesPartial")
<!-- Services Section End -->

