@model IEnumerable<Xboox.ViewModels.ProductDetailViewModel>

@{
    ViewBag.Title = "Home Page";
}

<!-- Banner Section Begin -->
@Html.Partial("_BannerPartial")
<!-- Banner Section End -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="section-title">
                    <h4>推薦商品</h4>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <ul class="filter__controls">
                    <li class="active" data-filter="*">全部</li>
                    <li data-filter=".fb4d4987-6abf-4569-be06-8172c29a8600">Business</li>
                    <li data-filter=".a6c848b6-a49c-4b6c-92fe-9420d1a4a671">Investment</li>
                    <li data-filter=".e0055708-df2e-4c1f-9060-5049f9a64d54">SocialScience</li>
                    <li data-filter=".d08b766d-8299-4714-963a-2c0e37eb03ff">Programming</li>
                    <li data-filter=".d149e204-bcb9-4e0c-9670-d14b48f62c77">Fantasy</li>
                    <li data-filter=".f0746657-2dbd-4489-a7a1-f170e5cbc912">Medical</li>
                </ul>
            </div>
        </div>
        <div class="row property__gallery">
            @foreach (var item in Model)
            {
                @Html.Partial("_HomePageProductPartial", item)
            }
        </div>
    </div>
</section>
<!-- Discount Section Begin -->
@Html.Partial("_DiscountPartial")
<!-- Discount Section End -->
<!-- Services Section Begin -->
@Html.Partial("_ServicesPartial")
<!-- Services Section End -->



@section EndJS{
    <script>
    doCookieSetup("VisitorKey","@ViewBag.XbooxKey");
    function doCookieSetup(name, value) {
        var expires = new Date();
        //有效時間保存 2 天 2*24*60*60*1000
        //expires.setTime(expires.getTime() + 3600);
        document.cookie = document.cookie = name + "=" + escape(value) + ";max-age=" + 1000;
    }
    //let AddBtnGroup= document.querySelectorAll(".icon_bag_alt");
    //let bookNameGroup = document.querySelectorAll(".product__item__text a");


    //    function addtocar(name, value) {
    //        var expires = new Date();
    //        //有效時間保存 2 天 2*24*60*60*1000
    //        //expires.setTime(expires.getTime() + 3600);
    //        document.cookie = document.cookie = name + "=" + escape(value) + ";max-age=" + 1000;
    //    };

    //    for (var i = 0; i < AddBtnGroup.length; i++) {

    //        AddBtnGroup[i].addEventListener('click', addtocar("carItem", bookNameGroup[i].innerHTML ));

    //    }




        //function addToCar(item) {
        //    //item為品項名稱，型態為字串
        //    if (Cookies.get("carItem") == undefined) {
        //        //若目前沒有 carItem 這個 key 的 Cookie ，直接新增一個，並只對購物車頁面設定 Cookie
        //        Cookies.set("carItem", item)
        //    }
        //    else {
        //        //有的話就用逗號將品項做分隔再加入至 carItem 中
        //        currentItem = Cookies.get("carItem");
        //        currentItem = currentItem + "," + item;
        //        Cookies.set("carItem");
        //    }
        //}
        //alert("已加入" + item + "至購物車");

    //AddBtnGroup.forEach((ele, idx) => AddBtnGroup[idx].addEventListener('click', addToCar("1")));

    //function setCookie(name, value) {
    //    value = encodeURIComponent(JSON.stringify(value).replaceAll(' ', '+'))
    //    document.cookie = `${name}=${value};`
    //    return getCookie(name)
    //}
    </script>
}