@model IEnumerable<Xboox.ViewModels.ProductDetailViewModel>

@{
    ViewBag.Title = "Home Page";
}

<!-- Banner Section Begin -->
@Html.Partial("_BannerPartial")
<!-- Banner Section End -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="section-title">
                    <h4>推薦商品</h4>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <ul class="filter__controls">
                    <li class="active" data-filter="*">全部</li>
                    <li data-filter=".fb4d4987-6abf-4569-be06-8172c29a8600">Business</li>
                    <li data-filter=".a6c848b6-a49c-4b6c-92fe-9420d1a4a671">Investment</li>
                    <li data-filter=".e0055708-df2e-4c1f-9060-5049f9a64d54">SocialScience</li>
                    <li data-filter=".d08b766d-8299-4714-963a-2c0e37eb03ff">Programming</li>
                    <li data-filter=".d149e204-bcb9-4e0c-9670-d14b48f62c77">Fantasy</li>
                    <li data-filter=".f0746657-2dbd-4489-a7a1-f170e5cbc912">Medical</li>
                </ul>
            </div>
        </div>
        <div class="row property__gallery">
            @foreach (var item in Model)
            {
                @Html.Partial("_HomePageProductPartial", item)
            }
        </div>
    </div>
</section>
<!-- Discount Section Begin -->
@Html.Partial("_DiscountPartial")
<!-- Discount Section End -->
<!-- Services Section Begin -->
@Html.Partial("_ServicesPartial")
<!-- Services Section End -->

@section endJS{
    <script>
    doCookieSetup("VisitorKey", "@ViewBag.XbooxKey");
    function doCookieSetup(name, value) {
        var expires = new Date();
        //有效時間保存 30天 30*24*60*60*1000
        expires.setTime(expires.getTime() + 2592000000);
        document.cookie = name + "=" + escape(value) + ";expires=" + expires.toGMTString()
    }
    </script>
}


