<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 應用程式</title>
    <link rel="stylesheet" href="~/Assets/Style.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>
    <div class="navbar navbar-expand-lg fixed-top navbar-light">
        <div class="container">
            <div class="navbar-brand">
                <span><img src="~/Assets/picture/logo-removebg-preview.png" /></span>
             
                @Html.ActionLink("Xboox", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav ml-auto">
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    
        <aside class="sidebar">
            
            <ul>
                <li>
                    <a class="aside-item color-1">
                        <i class="fa fa-dashboard"></i>
                        <span class="color-1">Dashboard</span>
                    </a>

                </li>
                <li>

                    <a class="aside-item color-1">
                        <i class="fa fa-book"></i>
                        <span class="color-1">
                            @Html.ActionLink("Product Management", "Index", "Product")
                        </span>
                    </a>
                </li>
                <li>

                    <a class="aside-item color-1">
                        <i class="fa fa-user"></i>
                        <span class="color-1">User Management</span>
                    </a>
                </li>
                <li>

                    <a class="aside-item color-1">
                        <i class="fa fa-list"></i>
                        <span class="color-1">Order Management</span>
                    </a>
                </li>
                <li>

                    <a class="aside-item color-1">
                        <i class="fa fa-barcode"></i>
                        <span class="color-1">Coupon Management</span>
                    </a>
                </li>
                <li>

                    <a class="aside-item color-1">
                        <i class="fa fa-barcode"></i>
                        <span class="color-1"> @Html.ActionLink("Tag Management", "CreateTag", "Product")</span>
                    </a>
                </li>
                <li>

                    <a class="aside-item color-1">
                        <i class="fa fa-bar-chart"></i>
                        <span class="color-1">Report</span>
                    </a>
                </li>

            </ul>
           
        </aside>
        <div class="container body-content">
        @RenderBody()

        @*<footer>
                <p>&copy; @DateTime.Now.Year - 我的 ASP.NET 應用程式</p>
            </footer>*@
            </div>
   

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
