<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 應用程式</title>
    <link rel="stylesheet" href="~/Assets/Style.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <span><img src="~/Assets/picture/logo-removebg-preview.png" /></span>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Xboox", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="aside">
        <aside>
            <ul>
                <li>
                    <a class="aside-item color-1">
                        <i class="glyphicon glyphicon-dashboard"></i>
                        <span class="color-1">Dashboard</span>
                    </a>

                </li>
                <li>

                    <a class="aside-item color-1">
                        <i class="glyphicon glyphicon-book"></i>
                        <span class="color-1">@Html.ActionLink("Product Management","Index","Product")
                        </span>
                    </a>
                </li>
                <li>

                    <a class="aside-item color-1">
                        <i class="glyphicon glyphicon-user"></i>
                        <span class="color-1">User Management</span>
                    </a>
                </li>
                <li>

                    <a class="aside-item color-1">
                        <i class="glyphicon glyphicon-list"></i>
                        <span class="color-1">Order Management</span>
                    </a>
                </li>
                <li>

                    <a class="aside-item color-1">
                        <i class="glyphicon glyphicon-grain"></i>
                        <span class="color-1">Coupon Management</span>
                    </a>
                </li>
                <li>

                    <a class="aside-item color-1">
                        <i class="glyphicon glyphicon-stats"></i>
                        <span class="color-1">Report</span>
                    </a>
                </li>
            </ul>
        </aside>
        <div class="container body-content">
        @RenderBody()

        @*<footer>
                <p>&copy; @DateTime.Now.Year - 我的 ASP.NET 應用程式</p>
            </footer>*@
            </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
