@model IEnumerable<XbooxCMS.ViewModels.ProductListViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
@*<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/css/uikit.min.css" />*@
@*//<link href="~/Assets/Css/datatablestyle.css" rel="stylesheet" />*@
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<h2>ProductManagement</h2>

<p>

    <!-- Colored FAB button -->
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
        <i class="material-icons" onclick="location.href='@Url.Action("Create", "Product")'">add</i>
    </button>

</p>

<div class="col-md-6">
    <table class="table mdl-data-table mdl-data-table_full mdl-js-data-table mdl-shadow--1dp" id="Producytable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UnitInStock)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>


                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Publisher)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PublishedDate)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.CategorName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TagName)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnitInStock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Publisher)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PublishedDate)
                    </td>


                    <td>
                        @Html.DisplayFor(modelItem => item.CategorName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TagName)
                    </td>

                    <td>
                        <input type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" value="Edit" onclick="location.href='@Url.Action("Edit", "Product",new{id=item.ProductId })'" />
                        <input type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--gold" value="Details" onclick="location.href='@Url.Action("Details", "Product",new{id=item.ProductId })'" />
                        <input type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" value="Delete" onclick="location.href='@Url.Action("Delete", "Product",new{id=item.ProductId })'" />
                        <button type="button" class="btn btn-primary" data-toggle="modal"  onclick="function()"   data-target="#exampleModal">
                            Delete
                        </button>

                    </td>

                </tr>

            }
        </tbody>

    </table>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                確定要刪除嗎? 資料將會直接消失
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="deletefunction">Delete</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
@*<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit-icons.min.js"></script>*@

@section scripts{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#Producytable').DataTable();
        });
    </script>


    <script type="text/javascript">

        $("#deletefunction").click(function () {

            $.ajax({
                type: "DELETE",
                url:'@Url.Action("DeleteTest","Test")',
                contentType: 'application/json; charset=utf-8',





            })



        })

            @*$.ajax({
    type: "POST",
    url: '@Url.Action("DeleteTest","Test")',
    data: {id:10},
    contentType: 'application/json; charset=utf-8',
    success: function (data) {*@
    </script>
}