@using XbooxCMS.Models
@model LoginViewModel
@{
    ViewBag.Title = "登入";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

     @*<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">*@


<div class="row">
    <div class="col-md-12 login">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal ln-form", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Login</h4>
                <hr />
          
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group   pd-50">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label-login pd-50 " })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control login-form-control" })
           
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group pd-50">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label-login" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control login-form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="登入" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" />
                    </div>
                </div>
                @*<p>
                @Html.ActionLink("以新使用者身分註冊", "Register")
            </p>*@
                @* 只要您的密碼重設功能能夠進行帳戶確認，就啟用此項
            <p>
                @Html.ActionLink("忘記密碼?", "ForgotPassword")
            </p>*@
            }
        </section>
    </div>
    @*<div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>*@
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}