@model Xboox.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "忘記密碼?";
}

    <div class="text-center">
        <h2>@ViewBag.Title</h2>
        <h4>輸入您的電子郵件</h4>
    </div>
<hr />
<div class="d-flex">
    <div class=" mx-auto">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.LabelFor(m => m.Phone, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
            <button type="submit" class="btn btn-primary mt-2">以電子郵件傳送連結</button>
        </div>
        }
    </div>
</div> 
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
