@using Xboox.Models
@model LoginViewModel
@*@{
    ViewBag.Title = "會員登入";
}*@

<h4 class="text-center my-5">會員登入</h4>
<hr />
<div class="d-flex">
    <div class="mx-auto">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="d-inline-block">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                        <div>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                        <div>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2">
                            <input type="submit" value="登入" class="btn btn-primary" />
                        </div>
                    </div>
                    <div>
                        <p>
                            無法登入嗎? 試試看
                            @*只要您的密碼重設功能能夠進行帳戶確認，就啟用此項*@
                            <span>
                                @Html.ActionLink("忘記密碼", "ForgotPassword")
                            </span>/
                            <span>
                                @Html.ActionLink("註冊", "Register")
                            </span>
                        </p>
                    </div>
                    
                </div>
            }
        </section>        
    </div>    
</div>
<hr />
<div class="d-flex">
    @*外部登入的渲染code*@
    <div class="d-inline-block mx-auto mb-3">
        <p class="text-center">使用其他社群帳號登入</p>
        
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
