@using Xboox.Models
@model LoginViewModel
@{
    ViewBag.Title = "會員登入";
}

@*<h4 class="text-center">@ViewBag.Title</h4>
    <hr />
    <div class="d-flex">
        <div class="mx-auto">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>使用本機帳戶進行登入。</h4>
                    <div class="d-inline-block">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                            <div>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                            <div>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2">
                                <input type="submit" value="登入" class="btn btn-primary" />
                            </div>
                        </div>
                        <div>
                            <p>
                                無法登入嗎? 試試看
                                只要您的密碼重設功能能夠進行帳戶確認，就啟用此項
                                <span>
                                    @Html.ActionLink("忘記密碼", "ForgotPassword")
                                </span>/
                                <span>
                                    @Html.ActionLink("註冊", "Register")
                                </span>
                            </p>
                        </div>
                        <div>
                                <button class="btn btn-danger">用Google 帳號 登入</button>
                            </div>
                    </div>
                }
            </section>
        </div>
        外部登入的渲染code
        <div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
    </div>*@

<div class="container">
    <div class="row">


        <form class="jotform-form" action="https://submit.jotform.com/submit/202420901016438/" method="post"
              name="form_202420901016438" id="202420901016438" accept-charset="utf-8" autocomplete="on">
            <input type="hidden" name="formID" value="202420901016438" />
            <input type="hidden" id="JWTContainer" value="" />
            <input type="hidden" id="cardinalOrderNumber" value="" />
            <div role="main" class="form-all">
                <ul class="form-section page-section">
                    <li id="cid_7" class="form-input-wide" data-type="control_head">
                        <div class="form-header-group  header-small">
                            <div class="header-text httac htvam">
                                <h3 id="header_7" class="form-header" data-component="header">
                                    Get Free Email Updates!
                                </h3>
                                <div id="subHeader_7" class="form-subHeader">
                                    Join us for FREE to get instant email updates!
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="form-line" data-type="control_email" id="id_8">
                        <label class="form-label form-label-top form-label-auto" id="label_8" for="input_8"> Email </label>
                        <div id="cid_8" class="form-input-wide">
                            <span class="form-sub-label-container " style="vertical-align:top">
                                <input type="email" id="input_8" name="q8_email" class="form-textbox validate[Email]" size="30" value=""
                                       data-component="email" aria-labelledby="label_8 sublabel_input_8" />
                                <label class="form-sub-label" for="input_8" id="sublabel_input_8" style="min-height:13px"
                                       aria-hidden="false"> example@example.com </label>
                            </span>
                        </div>
                    </li>
                    <li class="form-line jf-required" data-type="control_email" id="id_5">
                        <label class="form-label form-label-top form-label-auto" id="label_5" for="input_5">
                            E-mail
                            <span class="form-required">
                                *
                            </span>
                        </label>
                        <div id="cid_5" class="form-input-wide jf-required">
                            <input type="email" id="input_5" name="q5_email5" class="form-textbox validate[required, Email]" size="32"
                                   value="" placeholder="Email Address" data-component="email" aria-labelledby="label_5" required="" />
                        </div>
                    </li>
                    <li class="form-line" data-type="control_button" id="id_2">
                        <div id="cid_2" class="form-input-wide">
                            <div style="text-align:center" data-align="center"
                                 class="form-buttons-wrapper form-buttons-center   jsTest-button-wrapperField">
                                <button id="input_2" type="submit"
                                        class="form-submit-button submit-button jf-form-buttons jsTest-submitField" data-component="button"
                                        data-content="">
                                    Get Access Today!
                                </button>
                            </div>
                        </div>
                    </li>
                    <li style="display:none">
                        Should be Empty:
                        <input type="text" name="website" value="" />
                    </li>
                </ul>
            </div>
            <script>
                JotForm.showJotFormPowered = "new_footer";
            </script>
            <script>
                JotForm.poweredByText = "Powered by JotForm";
            </script>
            <input type="hidden" id="simple_spc" name="simple_spc" value="202420901016438" />
            <script type="text/javascript">
                document.getElementById("si" + "mple" + "_spc").value = "202420901016438-202420901016438";
            </script>
            <div class="formFooter-heightMask">
            </div>
            <div class="formFooter f6">
                <div class="formFooter-wrapper formFooter-leftSide">
                    <a href="https://www.jotform.com/?utm_source=formfooter&utm_medium=banner&utm_term=202420901016438&utm_content=jotform_logo&utm_campaign=powered_by_jotform_le"
                       target="_blank" class="formFooter-logoLink">
                        <img class="formFooter-logo"
                             src="https://cdn.jotfor.ms/assets/img/logo/logo-new@1x.png" alt="Jotform Logo">
                    </a>
                </div>
                <div class="formFooter-wrapper formFooter-rightSide">
                    <span class="formFooter-text">
                        Now create your own JotForm - It's free!
                    </span>
                    <a class="formFooter-button"
                       href="https://www.jotform.com/?utm_source=formfooter&utm_medium=banner&utm_term=202420901016438&utm_content=jotform_button&utm_campaign=powered_by_jotform_le"
                       target="_blank">Create your own JotForm</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@section TopCSS{
    <link href="~/Assets/CSS/Custom/LogInPage/LogIn_Css.css" rel="stylesheet" />
}

@section EndJS{
    <script src="~/Assets/JavaScript/Custom/LogInPage/LogIn_json.js"></script>
}