@model Xboox.Models.UserDetails

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i>Home</a>
                    <a href="@Url.Action("UserDataDetails","Account")"><span>My Account</span></a>
                    <a href="@Url.Action("UserDataDetails","Account")"><span>Account Detail</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
    <div class="container py-5">
        <div class="row">
            @Html.Partial("_MemberSidebar")
            <div class="col-lg-9 col-12">
                <dl class="dl-horizontal">
                    <h4 class="mb-5"><span class="border-danger border-bottom pb-2 mt-3">我的會員資料</span></h4>
                    <dt>
                        @Html.DisplayNameFor(model => model.Account)
                    </dt>
                    <hr />
                    <dd>
                        @Html.DisplayFor(model => model.Account)
                    </dd>
                    <hr />
                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <hr />
                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <hr />
                    <dt>
                        @Html.DisplayNameFor(model => model.Phone)
                    </dt>
                    <hr />
                    <dd>
                        @Html.DisplayFor(model => model.Phone)
                    </dd>

                </dl>
            </div>
        </div>
    </div>