@model Xboox.Models.UserDetails

    <div class="container">
        <div class="row">
            @Html.Partial("_MemberSidebar")
            <div class="col-lg-9 col-12">
                <dl class="dl-horizontal">

                    <dt>
                        @Html.DisplayNameFor(model => model.Account)
                    </dt>
                    <hr />
                    <dd>
                        @Html.DisplayFor(model => model.Account)
                    </dd>
                    <hr />
                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <hr />
                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <hr />
                    <dt>
                        @Html.DisplayNameFor(model => model.Phone)
                    </dt>
                    <hr />
                    <dd>
                        @Html.DisplayFor(model => model.Phone)
                    </dd>

                </dl>
            </div>
        </div>
    </div>