@model Xboox.Models.UserDetails


<div class="container">
    <div class="row">
        @Html.Partial("_MemberSidebar")
        <div class="col-lg-9 col-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <h4 class="mb-5"><span class="border-danger border-bottom pb-2 mt-3">變更基本資料</span></h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                <div class="form-group">
                    <h4>@Html.LabelFor(model => model.Account, htmlAttributes: new { @class = "control-label col-md-2" })</h4>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Account, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "readonly" } })
                    </div>
                </div>


                <div class="form-group">
                    <h4>@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2 " })</h4>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <h4>@Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })</h4>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="site-btn btn" />
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>