@model Xboox.ViewModels.ProductDetailViewModel



<div class="col-lg-4 col-md-6 mix @Model.TagName">
    <div class="product__item">
        <div class="product__item__pic set-bg" data-setbg="@Model.ImgLink">
            @*<div class="label new">New</div>*@
            <ul class="product__hover">
                <li><a href="@Model.ImgLink" class="image-popup"><span class="arrow_expand"></span></a></li>
                <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                <li><a id="@Model.ProductId" class="addCartBtn" data-img="@(Model.ImgLink)" data-target="@Model.Name"><span class="icon_bag_alt"></span></a></li>
                @*<li><a href="/Home/ProductDetail?id=@Model.ProductId"><span class="fas fa-question"></span></a></li>*@
                <li><a href="/Details/@Model.ProductId"><span class="fas fa-question"></span></a></li>
            </ul>
        </div>
        <div class="product__item__text">
            <h6><a href="#">@Model.Name</a></h6>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <div class="product__price">$ @Convert.ToInt32(Model.Price)</div>
        </div>
    </div>
</div>