<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Xboox</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link href="~/Assets/TemplateCSS/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/TemplateCSS/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Assets/TemplateCSS/magnific-popup.css" rel="stylesheet" />
    <link href="~/Assets/TemplateCSS/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Assets/TemplateCSS/slicknav.min.css" rel="stylesheet" />
    <link href="~/Assets/TemplateCSS/style.css" rel="stylesheet" />
    <link href="~/Assets/TemplateCSS/elegant-icons.css" rel="stylesheet" />
    <link href="~/Assets/TemplateCSS/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Assets/CSS/Custom/HomePage/HomePage.css" rel="stylesheet" />
    @RenderSection("topCSS", required: false)
    @RenderSection("topJS", required: false)
    @RenderSection("OrderCSS", required: false)
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    @Html.Partial("_OffcanvasPartial")
    <!-- Offcanvas Menu End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-2">
                    <div class="header__logo">
                        @*@Html.ActionLink("Xboox", "Index", "Home", new { }, new { @class="ml-5"})*@
                        <a href="@Url.Action("Index","Home")">
                            <h3 class="ml-5">Xboox</h3>
                        </a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <nav class="header__menu">
                        <ul>
                            @*<li class="active"><a href="./shop.html">全部書籍</a></li>*@
                            @*<li>@Html.ActionLink("All", "ShowAllBooks", "BookCategory")</li>
                                <li>@Html.ActionLink("Chinese", "ShowChineseBooks", "BookCategory")</li>
                                <li>@Html.ActionLink("Foreign", "ShowForeignLanguageBooks", "BookCategory")</li>
                                <li>@Html.ActionLink("Ebooks", "ShowEBookBooks", "BookCategory")</li>
                                <li>@Html.ActionLink("Novel", "ShowNovelBooks", "BookCategory")</li>
                                <li>@Html.ActionLink("Magazine", "ShowMagazineBooks", "BookCategory")</li>
                                <li>@Html.ActionLink("Comics", "ShowComicsBooks", "BookCategory")</li>*@
                            <li>@Html.ActionLink("All", "ShowBooks", "BookCategory", new { id= "dc5c22d1-ff3e-45fe-87e3-e577ee771551" }, null)</li>
                            <li>@Html.ActionLink("Chinese", "ShowBooks", "BookCategory", new { id = "761e6b0f-b8fd-45d2-bf35-9f09c7cc25b8" }, null)</li>
                            <li>@Html.ActionLink("Comics", "ShowBooks", "BookCategory", new { id = "66ab9b96-6d3e-457f-b487-77ce7ab35d1c" }, null)</li>
                            <li>@Html.ActionLink("Ebooks", "ShowBooks", "BookCategory", new { id = "21f3a449-0781-4d0c-bd1c-c9bb9d59c83c" }, null)</li>
                            <li>@Html.ActionLink("Foreign", "ShowBooks", "BookCategory", new { id = "1c39dc1e-525a-43ec-91bb-cb113c208dd3" }, null)</li>
                            <li>@Html.ActionLink("Magazine", "ShowBooks", "BookCategory", new { id = "8443c1ae-ab29-49df-854b-b04d44a65237" }, null)</li>
                            <li>@Html.ActionLink("Novel", "ShowBooks", "BookCategory", new { id = "a26d7886-3439-409a-adf9-45b47734bfae" }, null)</li>

                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__right">
                        <ul class="header__right__widget">
                            <li><span class="icon_search search-switch"></span></li>
                            <li>
                                <a href="#">
                                    <span class="icon_heart_alt"></span>
                                    <div class="tip">0</div>
                                    <ul class="headerdropdown">
                                    </ul>
                                </a>
                            </li>
                            <li>
                                <a>
                                    @*@Url.Action("ShopCart", "Cart")*@
                                    <span class="icon_bag_alt"></span>
                                    <div class="tip cart_count">0</div>
                                    <ul class="headerdropdown" id="cart_dropdown">

                                        @*@Html.ActionLink("a", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })*@



                                    </ul>
                                </a>
                            </li>
                            <li>
                                @Html.Partial("_LoginPartial")
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    <!-- Search Begin -->
    @Html.Partial("_SearchPartial")
    <!-- Search End -->
    @RenderBody()
    <!-- Footer Section Begin -->
    @Html.Partial("_FooterPartial")
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="~/Assets/TemplateJavaScript/jquery-3.3.1.min.js"></script>
    <script src="~/Assets/TemplateJavaScript/bootstrap.min.js"></script>
    <script src="~/Assets/TemplateJavaScript/jquery.magnific-popup.min.js"></script>
    <script src="~/Assets/TemplateJavaScript/jquery-ui.min.js"></script>
    <script src="~/Assets/TemplateJavaScript/mixitup.min.js"></script>
    <script src="~/Assets/TemplateJavaScript/jquery.countdown.min.js"></script>
    <script src="~/Assets/TemplateJavaScript/jquery.slicknav.js"></script>
    <script src="~/Assets/TemplateJavaScript/owl.carousel.min.js"></script>
    <script src="~/Assets/TemplateJavaScript/jquery.nicescroll.min.js"></script>
    <script src="~/Assets/TemplateJavaScript/main.js"></script>
    <script src="https://kit.fontawesome.com/cd487e856f.js" crossorigin="anonymous"></script>
    <script src="~/Assets/JavaScript/Custom/HomePage/HomePage.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/Assets/JavaScript/Custom/CartPage/set_to_local_storage.js"></script>
    @RenderSection("endCSS", required: false)

    @RenderSection("endJS", required: false)
    @RenderSection("scripts", required: false)
    @RenderSection("OrderJS", required: false)
</body>
</html>