<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Xboox</title>
    <link rel="shortcut icon" href="~/Assets/Image/Pics/xboox.ico" />
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    @Styles.Render("~/bundles/templateCSS")
    @Styles.Render("~/bundles/CustomCSS")
    <!--jason google font-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet">
    <!---->
    @RenderSection("topCSS", required: false)
    @RenderSection("topJS", required: false)
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    @Html.Partial("_OffcanvasPartial")
    <!-- Offcanvas Menu End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-2">
                    <div class="header__logo">
                        <a href="@Url.Action("Index","Home")">
                            <h3 class="ml-5">Xboox</h3>
                        </a>
                    </div>
                </div>
                @Html.Partial("_NavBarPartial", new Xboox.Helper.NavBarHelper().GetNavBarCategories())
                <div class="col-lg-3">
                    <div class="header__right">
                        <ul class="header__right__widget">
                            <li><span class="icon_search search-switch"></span></li>
                            <li>
                                <a href="#">
                                    <span class="icon_heart_alt"></span>
                                    <div class="tip">0</div>
                                    <ul class="headerdropdown">
                                    </ul>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span class="icon_bag_alt"></span>
                                    <div class="tip cart_count">0</div>
                                    <ul class="headerdropdown" id="cart_dropdown">
                                        @*@Html.ActionLink("a", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })*@
                                    </ul>
                                </a>
                            </li>
                            <li>
                                @Html.Partial("_LoginPartial")
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    <!-- Search Begin -->
    @Html.Partial("_SearchPartial")
    <!-- Search End -->
    @RenderBody()
    <!-- Footer Section Begin -->
    @Html.Partial("_FooterPartial")
    <!-- Footer Section End -->
    <!-- Js Plugins -->

    @Scripts.Render("~/bundles/templateJS")
    @Scripts.Render("~/bundles/CustomJS")
    @RenderSection("endCSS", required: false)
    @RenderSection("endJS", required: false)
    @RenderSection("scripts", required: false)
    @RenderSection("dealWithCart", required: false)
    @RenderSection("filterOrderJS",required:false)
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://kit.fontawesome.com/cd487e856f.js" crossorigin="anonymous"></script>

</body>
</html>