@model OrderViewModel
@{
    ViewBag.Title = "CreateOrder";
    decimal total = 0m;
    string discountCode = "";
    foreach (var item in ViewBag.Items)
    {
        total += Math.Round(item.Price * item.Quantity);
    }
    if (ViewBag.DiscountCode != null)
    {
        discountCode = ViewBag.DiscountCode;
    }
    ViewBag.Total = total;
}
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i>Home</a>
                    <a href="@Url.Action("ShopCart", "Cart")"><span>Shopping Cart</span></a>
                    <a href="@Url.Action("CreateOrder", "Order")"><span>Place Order</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<form class="checkout__form" method="post">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6">
                <h5>Billing detail</h5>
                <div class="row">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="OrderId" value="@Model.OrderId">
                    <div class="col-lg-12">
                        <div class="checkout__form__input">
                            <p>Name <span>*</span></p>
                            @if (Model.OrderId != Guid.Empty)
                            {
                                <input type="text" name="PurchaserName" value="@Model.PurchaserName" readonly>
                            }
                            else
                            {
                                <input type="text" name="PurchaserName" value="@Model.PurchaserName" required>
                            }
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="checkout__form__input">
                            <p>City <span>*</span></p>
                            @if (Model.OrderId != Guid.Empty)
                            {
                                <input type="text" name="City" value="@Model.City" readonly>
                            }
                            else
                            {
                                <input type="text" name="City" value="@Model.City" required>

                            }
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="checkout__form__input">
                            <p>District <span>*</span></p>
                            @if (Model.OrderId != Guid.Empty)
                            {
                                <input type="text" name="District" value="@Model.District" readonly>
                            }
                            else
                            {
                                <input type="text" name="District" value="@Model.District" required>
                            }
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="checkout__form__input">
                            <p>Road <span>*</span></p>
                            @if (Model.OrderId != Guid.Empty)
                            {
                                <input type="text" name="Road" value="@Model.Road" readonly>
                            }
                            else
                            {
                                <input type="text" name="Road" value="@Model.Road" required>

                            }
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="checkout__form__input">
                            <p>Phone <span>*</span></p>
                            @if (Model.OrderId != Guid.Empty)
                            {
                                <input type="tel" name="PurchaserPhone" value="@Model.PurchaserPhone" readonly>
                            }
                            else
                            {
                                <input type="tel" name="PurchaserPhone" value="@Model.PurchaserPhone" required>
                            }
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="checkout__form__input">
                            <p>Email <span>*</span></p>
                            @if (Model.OrderId != Guid.Empty)
                            {
                                <input type="email" name="PurchaserEmail" value="@Model.PurchaserEmail" readonly>
                            }
                            else
                            {
                                <input type="email" name="PurchaserEmail" value="@Model.PurchaserEmail" required>
                            }
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="checkout__form__checkbox">
                            <p class="pb-2 mb-2" style="border-bottom: 1px solid #e1e1e1;">選擇付款方式 <span class="text-danger">*</span></p>
                            <div>
                                @if (Model.OrderId == Guid.Empty)
                                {
                                    <label for="COD">
                                        貨到付款
                                        <input type="radio" id="COD" name="Payment" value="COD" required>
                                        <span class="checkmark"></span>
                                    </label>
                                    <label for="Credit">
                                        信用卡
                                        <input type="radio" id="Credit" name="Payment" value="Credit" required>
                                        <span class="checkmark"></span>
                                    </label>
                                    <label for="BarCode">
                                        超商條碼
                                        <input type="radio" id="BarCode" name="Payment" value="BarCode" required>
                                        <span class="checkmark"></span>
                                    </label>
                                    <label for="CVS">
                                        超商繳費
                                        <input type="radio" id="CVS" name="Payment" value="CVS" required>
                                        <span class="checkmark"></span>
                                    </label>
                                }
                                else
                                {
                                    <label for="Credit">
                                        信用卡
                                        <input type="radio" id="Credit" name="Payment" value="Credit" checked readonly>
                                        <span class="checkmark"></span>
                                    </label>
                                }
                            </div>
                        </div>
                    </div>
                    @if (Model.OrderId == Guid.Empty)
                    {
                        <div class="col-lg-6 col-12">
                            <div class="checkout__form__checkbox">
                                <p class="pb-2 mb-2" style="border-bottom: 1px solid #e1e1e1;">是否要記住訂單資訊 ? <span class="text-danger">*</span></p>
                                <div>
                                    <label for="Remember">
                                        記住訂單資訊
                                        <input type="checkbox" id="Remember" name="Remember" value="true">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-lg-6 position-relative">
                <div class="checkout__order">
                    <h5>Your order</h5>
                    <div class="checkout__order__product border-bottom-0">
                        <ul>
                            <li class="d-flex justify-content-between">
                                <span class="top__text d-inline-block" style="width: 70%;">Product</span>
                                <span class="top__text d-inline-block text-center" style="width: 15%;">Quantity</span>
                                <span class="top__text d-inline-block text-right" style="width: 15%;">Total</span>
                            </li>
                            @foreach (var item in ViewBag.Items)
                            {
                                <li class="d-flex justify-content-between">
                                    <span class="d-inline-block" style="width: 70%; text-overflow: ellipsis">@item.Name</span>
                                    <span class="d-inline-block text-center" style="width: 15%; text-overflow: ellipsis">@item.Quantity</span>
                                    <span class="d-inline-block text-right" style="width: 15%;">@Math.Round(item.Price * item.Quantity)</span>
                                </li>
                            }
                        </ul>
                    </div>
                    <h5 class="pt-4">Discount codes</h5>
                    <div class="w-100" id="codesection">
                        @if (Model.OrderId != Guid.Empty)
                        {
                            <input type="text" placeholder="Enter your coupon code" id="discountCode" name="Discount" value="@discountCode" readonly>
                        }
                        else
                        {
                            <input type="text" placeholder="Enter your coupon code" id="discountCode" name="Discount" value="@discountCode">
                            <input type="text" placeholder="Discount Rate:" id="discountRate" class="d-none">
                            <button class="site-btn" onclick="compareCode()" id="codebtn">Apply</button>
                            <div class="cart__btn update__btn" id="ordercheckcodebtns">
                                <a class="text-left" href="Javascript:void(0)" data-toggle="modal" data-target="#couponModalCenter"><span class="icon_gift"></span>Discount Code</a>
                            </div>
                        }
                    </div>
                    <div class="checkout__order__total">
                        <ul>
                            <li>Total<span class="cart__total">$@ViewBag.Total</span></li>
                            <li class="d-none" id="CartDiscountRateLi">Discount Rate<span class="discounted_price" id="CartDiscountRate"></span></li>
                            <li class="d-none" id="CartDiscountPriceLi">Discounted Price<span class="discounted_price" id="CartDiscountPrice"></span></li>
                        </ul>
                    </div>
                    <button type="submit" class="site-btn mb-3">Place order</button>
                    <a class="site-btn text-center text-white" href="@Url.Action("Index","Home")">Continue Shopping</a>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Modal -->
<div class="modal fade" id="couponModalCenter" tabindex="-1" role="dialog" aria-labelledby="couponModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:800px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Coupon Code</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">CouponCode</th>
                            <th scope="col">Discount Rate</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">Expire Date</th>
                            <th scope="col">Click to Use</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < ViewBag.CouponCode.Count; i++)
                        {
                            <tr>
                                <th scope="row">@ViewBag.CouponCode[i]</th>
                                <td>@((1-ViewBag.Discount[i])*100)% OFF</td>
                                <td>@ViewBag.StartTime[i]</td>
                                <td>@ViewBag.EndTime[i]</td>
                                <td><button type="button" class="btn btn-outline-secondary" id="@ViewBag.CouponCode[i]+@ViewBag.Discount[i]" onclick="UseCoupon(event)">Use</button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    window.addEventListener("load", function () {
        function getCookie(cookieName) {
            var name = cookieName + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1);
                if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
            }
            return "";
        }
        let form = $("form.checkout__form");
        let state = $("input[name='Payment']");
        let remember = $("#Remember")
        if (state.val() !== "COD") {
            form.attr('action', "/Order/PostToECPay")
        }
        state.on("change", function () {
            if ($(this).val() == "COD") {
                form.attr('action', "/Order/CreateOrder")
            } else {
                form.attr('action', "/Order/PostToECPay")
                let submitBtn = $("button[type='submit']");
                submitBtn.click(function () {
                    localStorage.clear();
                })
            }
        })
        remember.on("change", function () {
            getCookie("odStorage")
        })
    })
</script>
@section endJS{
    <script type="text/javascript">
        function UseCoupon(event) {
            let couponCode = (event.target.id);
            document.getElementById("discountCode").value = couponCode.split('+')[0];
            document.getElementById("discountRate").value = couponCode.split('+')[1];
            $('#couponModalCenter').modal('hide');
        }
        function compareCode() {
            let discountCode = document.getElementById("discountCode").value;
            let discountRate = document.getElementById("discountRate").value;
            let CartDiscountRate = document.getElementById("CartDiscountRate");
            let CartDiscountRateLi = document.getElementById("CartDiscountRateLi");
            let CartDiscountPrice = document.getElementById("CartDiscountPrice");
            let CartDiscountPriceLi = document.getElementById("CartDiscountPriceLi");
            let cart_total = document.querySelectorAll('.cart__total');
            let CouponCode = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.CouponCode));
            let Discount = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.Discount));

            if (CouponCode.includes(discountCode)) {
                Swal.fire("成功使用 " + discountCode + " 優惠碼!", "你的血液中有客家因子!", "success");
                event.preventDefault();
                if (discountRate == "") {
                    let number = CouponCode.findIndex(x => x == discountCode);
                    discountRate = Discount[number];
                    CartDiscountRate.innerText = "x" + discountRate;
                }
                let number = CouponCode.findIndex(x => x == discountCode);
                discountRate = Discount[number];
                CartDiscountRate.innerText = "x" + discountRate;
                CartDiscountRateLi.setAttribute("class", "d-block");
                CartDiscountPriceLi.setAttribute("class", "d-block");
                cart_total[cart_total.length - 1].setAttribute("style", "color:rgba(0,0,0,0.3);text-decoration:line-through;");
                CartDiscountPrice.innerText = "$" + Math.ceil(@ViewBag.Total * parseFloat(discountRate));
            } else {
                Swal.fire("失敗!", "查無" + discountCode + "此優惠碼" + ",或請輸入優惠碼", "warning");
                event.preventDefault();
                CartDiscountRateLi.setAttribute("class", "d-none");
                CartDiscountRate.innerText = "";
                CartDiscountPriceLi.setAttribute("class", "d-none");
                CartDiscountPrice.innerText = "";
                cart_total[cart_total.length - 1].setAttribute("style", "color:#ca1515;text-decoration:none;");
            }
        }
    </script>
}