@model IEnumerable<Xboox.ViewModels.OrderViewModel>
@{
    ViewBag.Title = "Order";

}
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i>Home</a>
                    <a href="@Url.Action("UserDataDetails","Account")"><span>My Account</span></a>
                    <a href="@Url.Action("UserView","Order")"><span>My Order</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<div class="container">
    <div class="row">
        @Html.Partial("_MemberSidebar")
        <div class="col-lg-9 col-12">
            <section class="shop-cart spad py-lg-5 pt-2">
                <div class="container-fluid">
                    <h4 class="mb-5"><span class="border-danger border-bottom pb-2">我的訂單</span></h4>
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-lg-4 col-12  mb-2">
                                <div class="card" style="min-height: 300px; height:100%;">
                                    <div class="card-body p-3 d-flex flex-column justify-content-between">
                                        <div class="card-title">
                                            <span class="badge badge-danger mb-1 p-1 w-100">@item.OrderId</span>
                                            <p class="m-0"><span class="font-weight-bold">建立日期:</span><span class="ml-2">@item.OrderDate</span></p>
                                            <p class="m-0"><span class="font-weight-bold">收件人:</span><span class="ml-2">@item.PurchaserName</span></p>
                                            <p class="m-0"><span class="font-weight-bold">地址:</span><span class="ml-2">@item.PurchaserAddress</span></p>
                                            <p class="m-0"><span class="font-weight-bold">Email:</span><span class="ml-2">@item.PurchaserEmail</span></p>
                                            <p class="m-0"><span class="font-weight-bold">電話:</span><span class="ml-2">@item.PurchaserPhone</span></p>
                                            <p class="m-0"><span class="font-weight-bold">付款方式: </span><span class="ml-2">@item.Payment</span></p>
                                            <p>
                                                狀態:
                                                @if (!item.Paid)
                                                {
                                                    <span class="text-danger">未付款</span>
                                                }
                                                else
                                                {
                                                    <span class="text-success">已付款</span>
                                                }
                                            </p>

                                        </div>
                                        <div class="card-end">
                                            <button class="site-btn bg-info mx-1" id="@item.OrderId" data-toggle="modal" data-target="#orderDetails">查看明細</button>
                                            @if (item.Build)
                                            {
                                                <button class="site-btn mx-1" id="@item.OrderId" data-toggle="modal" data-target="#deleteOrder">取消訂單</button>
                                            }
                                            else
                                            {
                                                <button class="site-btn mx-1 btn-danger">已取消訂單</button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<div class="modal fade" id="orderDetails" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="details" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white w-100">
                <h5 class="modal-title" id="details">訂單明細</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <td class="text-center">圖片</td>
                            <td class="text-center">名稱</td>
                            <td class="text-center">單價</td>
                            <td class="text-center">數量</td>
                            <td class="text-center">總價</td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<template id="OrderDetailsList">
    <td><img src="#" alt="productmg" /></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</template>
