@model IEnumerable<OrderViewModel>
@{
    ViewBag.Title = "Order";

}
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i>Home</a>
                    <a href="@Url.Action("UserDataDetails","Account")"><span>My Account</span></a>
                    <a href="@Url.Action("UserView","Order")"><span>My Order</span></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Breadcrumb End -->
<div class="container">
    <div class="row">
        @Html.Partial("_MemberSidebar")
        <div class="col-lg-10 col-12">
            <section class="shop-cart spad py-lg-5 pt-2">
                <div class="container-fluid position-relative">
                    <div class="orderRange input-group mb-3 position-absolute w-25" style="top: 0; right:0;">
                        <div class="input-group-append">
                            <label class="input-group-text bg-danger text-white" for="inputGroupSelect">日期區間</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect">
                            <option selected>選擇日期區間</option>
                            <option value="1">一個月內</option>
                            <option value="6">六個月內</option>
                            <option value="12">一年內</option>
                        </select>
                    </div>
                    <h4 class="mb-5"><span class="border-danger border-bottom pb-2">我的訂單</span></h4>
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="unPaid" data-toggle="pill" href="#pills-unPaid" role="tab" aria-controls="pills-unPaid" aria-selected="true">未付款</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="paid" data-toggle="pill" href="#pills-paid" role="tab" aria-controls="pills-paid" aria-selected="false">已付款</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="cancel" data-toggle="pill" href="#pills-cancel" role="tab" aria-controls="pills-cancel" aria-selected="false">已取消</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-unPaid" role="tabpanel" aria-labelledby="unPaid">
                            @if (Model.Where(item => item.Build && !item.Paid).Count() == 0)
                            {
                                <div class="jumbotron jumbotron-fluid bg-light border border-light">
                                    <div class="container">
                                        <h1 style="letter-spacing: 10px;" class="text-center text-secondary">目前無資料</h1>
                                    </div>
                                </div>
                            }
                            <div class="row">
                                @foreach (var item in Model.Where(item => item.Build && !item.Paid).OrderBy(item => item.OrderDate))
                                {
                                    @Html.Partial("_OrderPartialView", item)
                                }
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-paid" role="tabpanel" aria-labelledby="paid">
                            @if (Model.Where(item => item.Build && item.Paid).Count() == 0)
                            {
                                <div class="jumbotron jumbotron-fluid bg-light border border-light">
                                    <div class="container">
                                        <h1 style="letter-spacing: 10px;" class="text-center text-secondary">目前無資料</h1>
                                    </div>
                                </div>
                            }
                            <div class="row">
                                @foreach (var item in Model.Where(item => item.Build && item.Paid).OrderBy(item => item.OrderDate))
                                {
                                    @Html.Partial("_OrderPartialView", item)
                                }
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-cancel" role="tabpanel" aria-labelledby="cancel">
                            @if (Model.Where(item => !item.Build).Count() == 0)
                            {
                                <div class="jumbotron jumbotron-fluid bg-light border border-light">
                                    <div class="container">
                                        <h1 style="letter-spacing: 10px;" class="text-center text-secondary">目前無資料</h1>
                                    </div>
                                </div>
                            }
                            <div class="row">
                                @foreach (var item in Model.Where(item => !item.Build).OrderBy(item => item.OrderDate))
                                {
                                    @Html.Partial("_OrderPartialView", item)
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<div class="modal fade" id="orderDetails" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="details" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white w-100">
                <h5 class="modal-title" id="details">訂單明細</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <td>圖片</td>
                            <td>名稱</td>
                            <td>單價</td>
                            <td>數量</td>
                            <td>總價</td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<template id="OrderDetailsList">
    <td><img src="#" alt="productmg" /></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</template>
@section filterOrderJS {
    <script src="~/Assets/JavaScript/Custom/OrderPage/filterOrder.js"></script>
}